@using BrainJocks.YouTube.Custom.FieldTypes

<h2>YouTube Video Examples</h2>
<h4>Video One: @Html.Sitecore().Field("Video One", new { Size = YouTubeVideoField.ThumbnailSize.Medium})</h4>
<h4>Video Two: @Html.Sitecore().Field("Video Two")</h4>