<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>      
      <command name="brainjockscommands:EditYouTubeVideoField" 
               type="BrainJocks.YouTube.Custom.Commands.EditYouTubeVideoField, BrainJocks.YouTube.Custom"/>
    </commands>
  </sitecore>
</configuration>